$white = #ffffff
$deep-grey = #1b1c1c
$medium-grey = #2c3839
$light-grey = #cbc6c6
$dark-red = #9b1529
$pink = #fb94bd


h1
    margin: 0
    color: $deep-grey

a
    color: $dark-red

.auth
    width: 25%
    color: $deep-grey
    border-radius: 0.9rem
    background-color: $light-grey

.auth span
    font-size: 0.8rem
    color: $medium-grey
