$dark-green = #011313
$dark-red = #9b1529
$pink = #fb94bd

main
    min-height calc(100vh - 180px)

.card > img
    height 500px
    object-fit cover
    vertical-align middle

td > img
    width 50px
    height 50px
    border-radius 50%
    object-fit cover
    vertical-align middle

.form-check-input
    background-color $dark-green

.progress-bar
    background-color $dark-red

.form-check-input:checked
    background-color $pink
    border-color $pink
