body {
  min-height: 100vh;
  color: #d6d2d2;
  background-color: #111313;
  font-family: 'Rubik', sans-serif;
}
header {
  height: 60px;
  overflow: hidden;
  background-color: #270412;
}
.navbar span {
  color: #111313;
}
.navbar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 40px 5px #6b153e;
  border-radius: 50%;
}
.navbar-nav .active {
  text-decoration: underline;
  text-decoration-color: #382f37;
}
.greetings {
  color: #131515;
  border-right: 1px solid #0a0c0c;
}
.btn-primary {
  background-color: #3e0202;
  border-color: #1c0106;
}
main {
  min-height: 100vh;
  margin: 30px 0;
}
.card {
  border: none;
}
.list-group-item-light {
  color: #611f3d;
}
.card-body {
  flex: none;
}
table {
  border-radius: var(--bs-border-radius);
  overflow: hidden;
}
.table > :not(caption) > * > * {
  border-bottom: none;
}
td img {
  width: 40px;
  height: 40px;
}
tr td {
  margin: auto 0;
}
footer {
  width: 100vw;
  height: 28px;
  font-size: 0.7rem;
  background-color: #523399;
}
